body {
  background-color: rgb(4, 4, 29);
  color: whitesmoke;
}

/* .card {
  border-radius: 30px;
  background: violet;
} */

/* Doesnt work .movieInfo {
  height: 200px;
  border-radius: 50px;
  background: violet;
} */

img {
  border-radius: 5px;
  margin: 20px;
}
